{%include 'base.html'%}
{% load static %}
<body class="bg-secondary-subtle">
    <nav class="navbar navbar-expand-lg bg-body-tertiary border">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="{% static '/images/ReFi.png' %}"
                width="60px" class="img-thumbnail" alt="..."></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            KYC
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex" action="/login/" role="search">
                    <button class="btn btn-outline-success" type="submit">Log out</button>
                </form>

            </div>
        </div>
    </nav>
    <div>
        <h1 class="text-center m-5">Hello, {{user}}! Welcome back</h1>
    </div>
    <div class="d-grid gap-2 col-5 mx-auto">
        <button class="btn btn-primary" type="button">Deposit Money</button>
        <a href="/withdraw" class="btn btn-secondary" type="button">Withdraw Money</a>
      </div>
    <div class="container d-flex mx-auto mt-3">
        <div class="col-sm-6 mb-3 mb-sm-0" style="flex: 1;">
            <div class="card col-sm-6 mb-3 mb-sm-0 mx-auto d-flex">
                <div class="card-body d-flex">
                    <div class="col">
                        <h5 class="card-title">USD</h5>
                        <p class="card-text">{{usd}}</p>
                        <a href="/exchange" class="btn btn-primary">Exchange</a>
                    </div>
                    <div class="col-4 mt-3">
                        
                        <img src="{% static '/images/dollar_sign_019.png' %}"
                            width="60px" class="img-thumbnail" alt="...">
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div class="container d-flex mx-auto">
        <div class="col-sm-6 mb-3 mb-sm-0" style="flex: 1;">
            <div class="card col-sm-6 mb-3 mb-sm-0 mx-auto d-flex">
                <div class="card-body d-flex">
                    <div class="col">
                        <h5 class="card-title">RDW</h5>
                        <p class="card-text">{{rdw}}</p>
                        <a href="/exchange" class="btn btn-primary">Exchange</a>
                    </div>
                    <div class="col-4 mt-3">
                        
                        <img src="{% static '/images/rdw-redbg-round.png' %}"
                            width="60px" class="img-thumbnail" alt="...">
                    </div>

                </div>
            </div>

        </div>

    </div>
</body>